.sprite-header-gear {
    width: 20px;
    height: 20px;
    background-image: url(../images/header-spritesheet.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.sprite-header-question {
    width: 20px;
    height: 20px;
    background-image: url(../images/header-spritesheet.png);
    background-repeat: no-repeat;
    background-position: -35px -5px;
}

.sprite-header-spacer {
    width: 3px;
    height: 30px;
    background-image: url(../images/header-spritesheet.png);
    background-repeat: no-repeat;
    background-position: -65px -5px;
}
